@using Core_Departmant.Models
@model List<Personel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Personellerimiz</h2>

<table class="table table-bordered">
    <tr>
        <th> ID</th>
        <th> AD</th>
        <th>SOYAD</th>
        <th>ŞEHİR</th>
        <th>DEPARTMAN</th>
        <th>SİL</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.personelAd</td>
            <td>@x.personelSoyad</td>
            <td>@x.sehir</td>
            <td>@x.depart.id </td>
            <td><a href="/depart/DepartmanSil/@x.id" class="btn btn-danger">SİL</a></td>
            <td><a href="/depart/DepartmanGetir/@x.id" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
    }

</table>
<a href="#" class="btn btn-primary" style="background-color: #f5c2c7">Yeni Personel Ekle</a>
